<?xml version="1.0" encoding="utf-8"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebService1Soap" />
                <binding name="WebService4Soap" />
                <binding name="WebService5DSSoap" />
                <binding name="WebService6UserSoap" />
                <binding name="WebServiceFileSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54668/WebService1.asmx" binding="basicHttpBinding"
                bindingConfiguration="WebService1Soap" contract="ServiceReference1.WebService1Soap"
                name="WebService1Soap" />
            <endpoint address="http://localhost:54668/WebService4.asmx" binding="basicHttpBinding"
                bindingConfiguration="WebService4Soap" contract="ServiceReferenceDB.WebService4Soap"
                name="WebService4Soap" />
            <endpoint address="http://localhost:54668/WebService5DS.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebService5DSSoap"
                contract="ServiceReferenceDS.WebService5DSSoap" name="WebService5DSSoap" />
            <endpoint address="http://localhost:54668/WebService6User.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebService6UserSoap"
                contract="ServiceReferenceLogin.WebService6UserSoap" name="WebService6UserSoap" />
            <endpoint address="http://localhost:54668/WebServiceFile.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceFileSoap"
                contract="ServiceReferenceFile.WebServiceFileSoap" name="WebServiceFileSoap" />
        </client>
    </system.serviceModel>
</configuration>
